[Desktop Entry]
Encoding=UTF-8
Name=JGWill-Google-Gemini plasmoid for Plasma
Keywords=JGWill-Google-Gemini
Icon=search-symbolic
X-Plasma-API=declarativeappletscript
Type=Service
X-Plasma-Provides=com.jgwill.Google-Gemini
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Name=com.jgwill.Google-Gemini
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=https://github.com/jgwill/com.jgwill.Google-Gemini
KDE-PluginInfo-License=BSD 3.0
X-Plasma-MainScript=ui/main.qml
